<h1>People Tracker</h1>

<section class="top-section">
    <div class="left btn">
        <a href="/scientists">View All Scientists</a>
    </div>
    <small>Names of...</small>
    <div class="right btn">
        <a href="/artists">View All Artists</a>
    </div>
</section>
{{outlet}}
<footer>
    <a href="/">Back To Main Page</a>
</footer>