html{
    background-color: peachpuff;
}
h1{
    text-align: center;
}
.top-section{
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-around;
    background-color: #ccbbaa;
    border: 1px solid brown;
    box-shadow: 0 10px 15px 0 rgba(152, 12, 255, 0.5)
}
.btn a{
    color: brown;
    font-family: Courier New, Courier, monospace;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px 10px 4px 10px;
    background-color: khaki;
    border-radius: 12px;
}
.btn a:hover{
        box-shadow: 0 2px 2px 2px rgba(52, 52, 55, 0.5);
        color: white;
        background-color: black;

}
h2, li, ul, ol{
    text-align: center;
    list-style-type: none;
}
footer a{
    float: right;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cadetblue;
}
footer a:hover{
    color: saddlebrown;
}